body{
  height: 100%;
  width: 100%;
  /* text-align: center; */
  /* padding-bottom: 10px; */
}

.out{
  width: 100%;
  text-align: center;
}

.in{
  margin:5%;
  display: inline-block;
  padding:30px;
  border:5px solid gray;
  border-radius: 10px;
}

.adin{
  margin:5%;
  display: inline-block;
  padding:50px;
  border:5px solid gray;
  border-radius: 10px;
}

.adanswer{
  font-size: 50px;
  font-weight: bold;
  color:#8dcc79;
}

.addot{
  font-size: 50px;
  font-weight: bold;
}

.title{
  font-weight: bold;
}

.name{
  color:#626161;
  font-size: 30px;
  font-weight: bold;
}

.answer{
  font-size: 20px;
  font-weight: bold;
  color:#999999;
}

.mondai{
  font-weight: bold;
  color:#404040;
  font-size:20px;
}

.monanswer{
  font-weight: bold;
  font-size: 30px;
}
.monlongans{
  font-weight: bold;
  font-size: 20px;
}